---
http_interactions:
- request:
    method: get
    uri: https://api.mangadex.org/manga/ffc29425-4682-4602-8328-005ed75c5316/feed?limit=100&offset=0&order%5Bchapter%5D=asc&translatedLanguage%5B%5D=pt-br
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Md-Edge-Crs:
      - Tk9ORQ
      Md-Progressive-Rollout-Bucket:
      - '1393955921'
    body:
      encoding: ASCII-8BIT
      string: '{"result":"ok","response":"collection","data":[{"id":"bfa473d4-64d8-4ecb-8577-5a443c6e8849","type":"chapter","attributes":{"volume":"1","chapter":"1","title":null,"translatedLanguage":"pt-br","externalUrl":null,"isUnavailable":false,"publishAt":"2022-11-11T20:16:04+00:00","readableAt":"2022-11-11T20:16:04+00:00","createdAt":"2022-11-11T20:16:04+00:00","updatedAt":"2022-11-11T20:16:36+00:00","version":3,"pages":40},"relationships":[{"id":"44224278-8927-4931-a1ee-e18ec39295f3","type":"scanlation_group"},{"id":"ffc29425-4682-4602-8328-005ed75c5316","type":"manga"},{"id":"e83bb484-5296-41aa-a36a-14a4ae8cf4d7","type":"user"}]},{"id":"cc4dd0b8-21d3-45d6-9414-412cd3cbc4c4","type":"chapter","attributes":{"volume":"1","chapter":"2","title":null,"translatedLanguage":"pt-br","externalUrl":null,"isUnavailable":false,"publishAt":"2022-11-11T20:16:47+00:00","readableAt":"2022-11-11T20:16:47+00:00","createdAt":"2022-11-11T20:16:47+00:0[...]
