---
http_interactions:
- request:
    method: get
    uri: https://api.mangadex.org/manga?includes%5B%5D=cover_art&limit=5&offset=0&order%5BfollowedCount%5D=desc&title=Magi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Md-Edge-Crs:
      - Tk9ORQ
      Md-Progressive-Rollout-Bucket:
      - '1393955921'
    body:
      encoding: ASCII-8BIT
      string: '{"result":"ok","response":"collection","data":[{"id":"e1e38166-20e4-4468-9370-187f985c550e","type":"manga","attributes":{"title":{"ja-ro":"Mato
        Seihei no Slave"},"altTitles":[{"ja":"\u9b54\u90fd\u7cbe\u5175\u306e\u30b9\u30ec\u30a4\u30d6"},{"en":"Chained
        Soldier"},{"en":"Slave of the Magic Capital''s Elite Troops"},{"fr":"Demon
        slave"},{"de":"Demon Slave"},{"id":"Budak Korps Elite Kota Iblis"},{"ru":"\u0420\u0430\u0431
        \u0441\u043f\u0435\u0446\u043e\u0442\u0440\u044f\u0434\u0430 \u0434\u0435\u043c\u043e\u043d\u0438\u0447\u0435\u0441\u043a\u043e\u0433\u043e
        \u0433\u043e\u0440\u043e\u0434\u0430"},{"es":"El esclavo de la \u00e9lite
        de soldados de Mato"},{"es":"Demon Slave"},{"tr":"Cehennem Askerlerinin K\u00f6lesi"},{"uk":"\u0420\u0430\u0431
        \u0435\u043b\u0456\u0442\u043d\u0438\u0445 \u0432\u0456\u0439\u0441\u044c\u043a
        \u043c\u0430\u0433\u0456\u0447\u043d\u043e\u0433\u043e \u043c\u0456\u0441\u0442\u0430"},{"uz":"Zanjirlangan
        Askar"},{"vi":"N\u00f4 L\u1ec7 C\u1ee7a \u0110\u1ed9i Tinh Nhu\u1ec7 Ma \u0110\u00f4"},{"vi":"N\u00f4
        L\u1ec7 C\u1ee7a Ma \u0110\u00f4 Tinh Binh"},{"zh":"\u9b54\u90fd\u7cbe\u5175\u7684\u5974\u96b6"}],"description":{"en":"The
        demon-filled dimension known as \"Mato\" has opened to threaten humanity,
        and a type of \"peach\" tree that grows there yields fruit that confers special
        powers to those who eat it, giving humanity a fighting chance, but this only
        works for women. As such, as protectors of humanity, women rise in social
        status while men are relegated to second-class citizens scraping for basic
        occupation and acknowledgment.   \n  \nCue Yuuki Wakura, a do[...]
