---
http_interactions:
- request:
    method: get
    uri: https://api.mangadex.org/manga?availableTranslatedLanguage%5B%5D=en&availableTranslatedLanguage%5B%5D=es&availableTranslatedLanguage%5B%5D=es-la&availableTranslatedLanguage%5B%5D=fr&availableTranslatedLanguage%5B%5D=it&availableTranslatedLanguage%5B%5D=pt-br&includes%5B%5D=cover_art&limit=5&offset=0&order%5Brelevance%5D=desc&title=Magi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Md-Edge-Crs:
      - Tk9ORQ
      Md-Progressive-Rollout-Bucket:
      - '1393955921'
    body:
      encoding: ASCII-8BIT
      string: '{"result":"ok","response":"collection","data":[{"id":"ce63e6b8-fad8-48bc-a2aa-d801fb8d5d43","type":"manga","attributes":{"title":{"en":"Magi"},"altTitles":[{"vi":"Magi
        - M\u00ea Cung Th\u1ea7n Tho\u1ea1i"},{"es":"Magi: El Laberinto de la Mag\u00eda"},{"en":"Magi:
        The Labyrinth of Magic"},{"zh":"MAGI\u9b54\u5947\u5c11\u5e74"},{"ru":"\u041c\u0430\u0433\u0438
        - \u041b\u0430\u0431\u0438\u0440\u0438\u043d\u0442 \u0412\u043e\u043b\u0448\u0435\u0431\u0441\u0442\u0432\u0430"},{"ar":"\u0645\u0627\u062c\u064a:
        \u0645\u062a\u0627\u0647\u0629 \u0627\u0644\u0633\u062d\u0631"},{"fa":"\u0645\u0627\u06af\u06cc:
        \u067e\u06cc\u0686\u0627\u0644 \u062c\u0627\u062f\u0648"},{"th":"\u0e40\u0e21\u0e44\u0e08"},{"ja":"\u30de\u30ae"},{"ko":"\ub9c8\uae30"}],"description":{"en":"Deep
        within the deserts lie the mysterious Dungeons, vast stores of riches open
        for the taking by anyone lucky enough to find them \nand brave enough to venture
        into the depths from where few have ever returned. \nPlucky young adventurer
        Aladdin means to find the Dungeons and their riches, but he may be just as
        mysterious as the treasures he seeks. \nTogether with the Djinn Ugo and his
        friend Alibaba, Aladdin sets out to find his fortune in the depths of the
        endless dunes.  \n  \n**59th Shogakukan Manga Award winner in the Shounen
        category**","es":"En lo profundo de los desiertos se encuentran las misteriosas
        mazmorras, vastos dep\u00f3sitos de riquezas abiertos para que los tome cualquiera
        que tenga la suerte de encontrarlos y el coraje de aventurarse en las profundidades
        de donde pocos han regresado. El joven y valiente aventurero Aladino quiere
        encontrar las mazmorras y sus riquezas, pero Aladino puede ser tan misterioso
        como los tesoros que busca. Junto con el Djinn Ugo y su amigo, Alibaba, Aladino
        se propone encontrar su fortuna en las profundidades de las dunas interminables.  \n  \nGan\u00f3
        el 59\u00ba Premio Shogakukan Manga en la categor\u00eda Shounen.","pt":"Essa
        hist\u00f3ria \u00e9 sobre o fluxo do destino e da batalha para manter o mundo
        no caminho certo. Aladdin \u00e9 um garoto que tem a inten\u00e7\u00e3o de
        explorar o mundo depois de ficar preso em uma sala na maior parte de sua vida.
        Seu melhor amigo \u00e9 uma flauta com um djinn nele, chamado Ugo. Pouco tempo
        depois, Aladdin descobre que ele \u00e9 um Magi, um mago que escolhe os reis,
        e ele nasceu para escolher reis que v\u00e3o seguir o ca[...]
